#ipadback {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 227px;
    height: 286px;
    background-image: url(http://campl.us/tweet/ipadback.png);
    border: solid 1px red;
}

.selected{
    color: orange;
}
.matched{
    color: green;
}

.node {
  position: absolute;
  list-style: none;
  cursor: default;
  padding-left: 2%;
  
}
.node span {
  font-size: 12px;
}

.node .caret {
  font-size: 2px;
}

ul {
  list-style-position: none;
}
.nav li a {
  text-decoration:none;
  padding:31% 62,5%:
  display:inline-block;
  margin-left: 0%;

}
.nav > li {
  float:left;
  padding-left: 0;
}

h1 {
  position: absolute;
  margin-top: 0%;
  margin-left: 1%;
  text-align: left;
  font-size: 160%;
}
h2{
  position: relative;
  text-align: left;
  font-size: 160%;
  margin-top: 62,5%;
  margin-left: 51%;
}

#Encabezado{
  position: relative;
  width: 312,5%;
}

#radioSplits{
  position: absolute;
  margin-left: 5%;
  margin-top:15px;
}
#radioSplitsA{
  position: absolute;
  margin-left: 7%;
  margin-top:12px;
}

#radioNuevos{
  position: absolute;
  margin-left: 5%;
  margin-top:40px;
}
#radioNuevosA{
  position: absolute;
  margin-left: 7%;
  margin-top:38px;
}

#Funcionalidades{
  position: relative;
  width: 100%;
  height: 200px;
}

#TextArea{
  position: absolute;
  margin-left: 10%;
  margin-top:100px;
  width: 80%;
}

#radioLineas{
  position: absolute;
  margin-left: 45%;
  margin-top:15px;
}
#radioLineasA{
  position: absolute;
  margin-left: 47%;
  margin-top:13px;
}

#radioMerge{
  position: absolute;
  margin-left: 45%;
  margin-top:40px;
}
#radioMergeA{
  position: absolute;
  margin-left: 47%;
  margin-top:40px;
}

#radioMove{
  position: absolute;
  margin-left: 5%;
  margin-top:70px;
}
#radioMoveA{
  position: absolute;
  margin-left: 7%;
  margin-top:65px;
}

#radioRename{
  position: absolute;
  margin-left: 80%;
  margin-top:12px;
}
#radioRenameA{
  position: absolute;
  margin-left: 82%;
  margin-top:9px;
}

#radioExclusion{
  position: absolute;
  margin-left: 45%;
  margin-top:65px;
}
#radioExclusionA{
  position: absolute;
  margin-left: 47%;
  margin-top:65px;
}

#radioTodos{
  position: absolute;
  margin-left: 80%;
  margin-top:66px;
}

#radioAllA{
  position: absolute;
  margin-left: 82%;
  margin-top:65px;
}

#radioLimpiar{
  position: absolute;
  margin-left: 80%;
  margin-top:40px;
}
#radioLimpiarA{
  position: absolute;
  margin-left: 82%;
  margin-top:38px;
}

#estadisticas{
  position: absolute;
  margin-left: 45%;
  margin-top:5px;
}
#radioStatics{
  position: absolute;
  margin-left: 43%;
  margin-top:6px;
}

#Splits{
  position: absolute;
  margin-left: 0%;
  margin-top:40px;
}

#SplitsA{
  position: absolute;
  margin-left: 0%;
  margin-top:80px;
  width: 100px;
  text-align: center;
}

#Mergers{
  position: absolute;
  margin-left: 17%;
  margin-top:40px;
}
#MergersA{
  position: absolute;
  margin-left: 17%;
  margin-top:80px;
  width: 100px;
  text-align: center;
}

#News{
  position: absolute;
  margin-left: 34%;
  margin-top:40px;
}

#NewsA{
  position: absolute;
  margin-left: 34%;
  margin-top:80px;
  width: 100px;
  text-align: center;
}

#Moves{
  position: absolute;
  margin-left: 51%;
  margin-top:40px;
}

#MovesA{
  position: absolute;
  margin-left: 51%;
  margin-top:80px;
  width: 100px;
  text-align: center;
}

#Exclusion{
  position: absolute;
  margin-left: 68%;
  margin-top:40px;
}

#ExclusionA{
  position: absolute;
  margin-left: 68%;
  margin-top:80px;
  width: 100px;
  text-align: center;
}

#Rename{
  position: absolute;
  margin-left: 85%;
  margin-top:40px;
}

#RenameA{
  position: absolute;
  margin-left: 85%;
  margin-top:80px;
  width: 100px;
  text-align: center;
}

a{
  color:black;
}
a:hover {
    color: orange;
}

 /* The switch - the box around the slider */
.switchCongruence {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 140px;
  top: 65px;
}

.switchSplits {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 210px;
  top: 65px;
}

.switchMerges {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 275px;
  top: 65px;
}

.switchMoves {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 335px;
  top: 65px;
}

.switchRenames {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 400px;
  top: 65px;
}

.switchNew {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 465px;
  top: 65px;
}

.switchExclusions {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 525px;
  top: 65px;
}

.switchAll {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 595px;
  top: 65px;
}

.switchClear {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 550px;
  top: 65px;
}

/* Hide default HTML checkbox */
.switchCongruence input {display:none;}
.switchSplits input {display:none;}
.switchMerges input {display:none;}
.switchMoves input {display:none;}
.switchRenames input {display:none;}
.switchNew input {display:none;}
.switchExclusions input {display:none;}
.switchClear input {display:none;}
.switchAll input {display:none;}
.switchCongruence2 input {display:none;}

/* Labels */

.Tasks{
  position: absolute;
  width: 70px;
  height: 34px;
  left: 25px;
  top: 55px;
  color: white;
  font-size: 20px;
}

.Arrow{
  position: absolute;
  width: 20px;
  height: 34px;
  left: 90px;
  top: 50px;
  color: white;
  font-size: 28px;
}

.labelCongruence { 
  position: absolute;
  width: 60px;
  height: 34px;
  left: 120px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelSplits {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 210px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelMerges {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 275px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelMoves {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 335px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelRenames {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 395px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelNew {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 470px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelExclusions {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 515px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelAll {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 605px;
  top: 45px;
  color: white;
  font-size: 12px;
}

.labelClear {
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 550px;
  top: 45px;
  color: white;
  font-size: 12px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFDB1C;    
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* The slider SPLITS */
.sliderSplits {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderSplits:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderSplits {
  background-color: #FF0DFF;    
}

input:focus + .sliderSplits {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .sliderSplits:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.sliderSplits.round {
  border-radius: 34px;
}

.sliderSplits.round:before {
  border-radius: 50%;
} 

/* The slider MOVE */
.sliderMoves {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderMoves:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderMoves {
  background-color: #09D4D4;    
}

input:focus + .sliderMoves {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .sliderMoves:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.sliderMoves.round {
  border-radius: 34px;
}

.sliderMoves.round:before {
  border-radius: 50%;
} 

/* The slider CONGRUENT */
.sliderCongruent {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderCongruent:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderCongruent {
  background-color: #0E50D9;    
}

input:focus + .sliderCongruent {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .sliderCongruent:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.sliderCongruent.round {
  border-radius: 34px;
}

.sliderCongruent.round:before {
  border-radius: 50%;
} 

/* The slider MERGES */
.sliderMerges {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderMerges:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderMerges {
  background-color: #FFA656;    
}

input:focus + .sliderMerges {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .sliderMerges:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.sliderMerges.round {
  border-radius: 34px;
}

.sliderMerges.round:before {
  border-radius: 50%;
} 

/* The slider MERGES */
.sliderRename {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderRename:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderRename {
  background-color: #EAAAA5;    
}

input:focus + .sliderRename {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .sliderRename:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.sliderRename.round {
  border-radius: 34px;
}

.sliderRename.round:before {
  border-radius: 50%;
} 

/* The slider NEW */
.sliderNew {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderNew:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderNew {
  background-color: #076500;    
}

input:focus + .sliderNew {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .sliderNew:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.sliderNew.round {
  border-radius: 34px;
}

.sliderNew.round:before {
  border-radius: 50%;
} 

/* The slider EXCLUSION */
.sliderExclusion {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderExclusion:before {
  position: absolute;
  content: "Off";
  font: 10px Arial;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderExclusion {
  background-color: #D00101;    
}

input:focus + .sliderExclusion {
  box-shadow: 0 0 1px #2196F3;  
}

input:checked + .sliderExclusion:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  content: "On";
  font: 10px Arial;
}

/* Rounded sliders */
.sliderExclusion.round {
  border-radius: 34px;
}

.sliderExclusion.round:before {
  border-radius: 50%;
} 

body {  
  z-index: 0;
}

#Contenedor {
  position: absolute; 
  height: 100%;
  width: 2000px;
  top: 120px;   
}

#CANVAS{
  position: absolute;
  top: 120px;     
  left: 130px;     
}


#mainToolBox{    
  position: fixed;  
  float: left;
  top: 0;
  left: 0;
  width: 220%;
  height: 100px;
  border: 1px solid black;  
  background-color: #555;
  z-index: 1;
}

#leftToolBox {   
  overflow: auto;
  float:left;   
  z-index: 1;  
}

#rightToolBox {   
  position: fixed;
  overflow: auto;
  float:right;
  border: 1px solid black;
  z-index: 1;
}

.icon-bar {
  position: fixed;
  width: 100%;
  float: left;
  background-color: gray;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2;
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

/* STATISTICS */
.labelCongruenceStats{  
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 24%;
  top: 45px;
  color: white;
  visibility: hidden;
}

.labelCongruenceStatsValue{  
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 25%;
  top: 65px;
  color: white;
  visibility: hidden;
}

.labelSplitsStats{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 27%;
  top: 45px;
  color: white;
  visibility: hidden;
}

.labelSplitsStatsValue{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 27.5%;
  top: 65px;
  color: white;
  visibility: hidden;
}

.labelMergesStats{
  position: absolute;  
  width: 60px;
  height: 34px;
  left:29%;
  top: 45px;
  color: white;
  visibility: hidden;
}

.labelMergesStatsValue{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 29.5%;
  top: 65px;
  color: white;
  visibility: hidden;
}

.labelMovesStats{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 31%;
  top: 45px;
  color: white;
  visibility: hidden;
}

.labelMovesStatsValue{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 31.5%;
  top: 65px;
  color: white;
  visibility: hidden;
}

.labelRenamesStats{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 33%;
  top: 45px;
  color: white;
  visibility: hidden;  
}

.labelRenamesStatsValue{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 33.6%;
  top: 65px;
  color: white; 
  visibility: hidden; 
}

.labelNewStats{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 35.5%;
  top: 45px;
  color: white; 
  visibility: hidden;
}

.labelNewStatsValue{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 35.8%;
  top: 65px;
  color: white; 
  visibility: hidden;
}

.labelExclusionStats{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 37%;
  top: 45px;
  color: white;
  visibility: hidden;
}

.labelExclusionStatsValue{
  position: absolute;  
  width: 60px;
  height: 34px;
  left: 37.7%;
  top: 65px;
  color: white; 
  visibility: hidden;
}

#Options{
  position: absolute;
  top: 50%;
  left: 680px;
  width: 100px; 
}

#Comenzar{
  position: absolute;
  top: -20px;
  left: -15px;
  width: 100px;
  height: 15px;
}

.button {
  position: absolute;
  margin-top: 20px;
  margin-left: 15%;  
  display: inline-block;
  padding: 0px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}   

.barra {
  position: absolute;
  margin-top: 25px;
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.barra:hover {
    opacity: 1;
}

.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 20%;
    background: #4CAF50;
    cursor: pointer;
}

.barra::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
} 

.verticalLine {
  position: absolute;
  width: 60px;
  height: 45px;
  left: 22.7%;
  top: 50px;
  border-left:double 2px #fff;
  visibility: hidden;
}
